<div class="bg-gray-50 shadow-md fixed top-0 w-full font-serif">
<div class="mx-auto flex justify-between items-center p-4 ">
  <a href="">Angular App</a>

<ul class="hidden md:flex space-x-6 items-center">
  <li><a href="/" class="text-gray-900">Home</a></li>
    <li><a href="/" class="text-gray-900">Features</a></li>  
      <li><a href="/" class="text-gray-900">Community</a></li>  <li><a href="/" class="text-gray-900">Blog</a></li>
    <li><a href="/" class="text-gray-900">Pricing</a></li>
    <button class="bg-[#4caf4f] text-white p-2 rounded-md" >Register Now <lucide-icon [img]="ArrowRightIcon" [size]="15" class="inline-block ml-1"></lucide-icon>
    </button>
</ul>
</div>
</div>