<div class="bg-[#f5f7fa] h-screen flex items-center justify-between p-10">
    <!-- left side -->
     <div class="ml-10 pl-10">
        <h1 class="text-6xl font-semibold font-serif text-[#4d4d4d]">Lessons and insights</h1>
         <h1 class="text-6xl font-semibold font-serif text-[#4caf4f] mt-2">from 8 years</h1>
         <p class="'font-serif text-[#4d4d4d] mt-4">Where we help in growing your business</p>
         <button class="bg-[#4caf4f] text-white p-2 rounded-md mt-3" >Register Now</button>
     </div>
    <!-- right side -->
     <div class="ml-10 pt-20">
        <img src="images/hero.png" class="h-[600px] w-auto" alt="image">
     </div>
</div>