<div class=" bg-white flex flex-col items-center justify-start">
<h2 class="text-4xl font-bold text-[#4d4d4d] font-serif text-center mt-20">Our Clients</h2>
<p  class="text-center text-xl mt-2">We have been working with some Fortune 500+ clients<p>
    <!-- logos -->
<div class="flex justify-center gap-24 mt-8">
<img src="images/23.png" alt="" class="h-16">
<img src="images/24.png" alt="" class="h-16">
<img src="images/26.png" alt="" class="h-16">
<img src="images/27.png" alt="" class="h-16">
<img src="images/28.png" alt="" class="h-16">
<img src="images/29.png" alt="" class="h-16">
</div>
<!-- first section -->
<div class="text-center mt-8 font-serif">
<h1 class="text-3xl font-bold text-[#4d4d4d]">Manage your entire community</h1>
<h1 class="text-3xl font-bold text-[#4d4d4d]">in a single system</h1>
</div>
<!-- second section - cards -->
<div class="flex justify-center gap-10 mt-4 ">
<app-card
image="images/a.png"
title="Membership Organizations"
description="Our membership management software provides full automation of membership renewals and payments"
></app-card>
<app-card
image="images/b.png"
title="National Associations"
description="Our membership management software provides full automation of membership renewals and payments"
></app-card>
<app-card
image="images/c.png"
title="Clubs And Groups"
description="Our membership management software provides full automation of membership renewals and payments"
></app-card>
</div>
<!-- third section -->
<div class="flex justify-center mt-4 p-8">
<img src="images/mob-access.png" alt="" class="h-100">
<div class="pl-10">
<h1 class="text-4xl font-bold text-[#4d4d4d] font-serif">
The unseen of spending three
</h1>
<h1 class="text-4xl font-bold text-[#4d4d4d] font-serif">
years at Pixelgrade
</h1>
<p class="w-3xl text-justify mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus eos voluptates assumenda. Aspernatur incidunt nostrum totam adipisci quisquam voluptas dolorum magni doloremque iure necessitatibus maxime numquam velit, quam ipsam inventore repellat a laudantium eligendi amet voluptatem! Illo delectus ea ullam labore ex enim, aperiam porro molestias velit maxime blanditiis? Dolorum vel facilis voluptatibus atque!
</p>
<button class="bg-[#4caf4f] text-white p-2 rounded-md mt-4 w-30" >Learn More</button>
</div>
</div>
<app-stat class="w-full"></app-stat>
<app-middle class="w-full"></app-middle>
</div>
